* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Poppins";
}
/*navnar*/
.logo {
  display: inline-block;
}
.logo span {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.logo img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

.navbar {
  display: flex;
  padding: 0 100px;
  align-items: center;
}
.nav-links {
  display: inline-block;
}
.nav-button {
  margin-right: 10px;
}
.menu {
  display: none;
}
/*media query*/
@media only screen and (max-width: 700px) {
  .menu {
    display: block;
    cursor: pointer;
  }
  .nav-links {
    background-color: #d9f4ff;
    position: fixed;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
/*media query*/
/*Home */
