.App {
  text-align: center;
  font-family: "Poppins";
}
/*navnar*/
.logo {
  display: inline-block;
}
.logo span {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.logo img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

.navbar {
  display: flex;
  padding: 0 100px;
  align-items: baseline;
}
.nav-links {
  display: inline-block;
}
.nav-button {
  margin-right: 10px;
}

/*Home */
@media screen and (min-width: 700px) {
  .moviez-title {
    font-size: 60px;
    position: absolute;
    top: 130px;
    left: 170px;
  }

  .tagline {
    position: absolute;
    top: 230px;
    left: 170px;
  }
  .svg1 {
    width: 25%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: -1;
  }
  .svg2 {
    width: 15%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 80px;
    z-index: -2;
  }
  .svg3 {
    width: 20%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 350px;
    z-index: -1;
  }
  .side-svg {
    position: absolute;
    width: 50%;
    height: auto;
    right: 80px;
    top: 30%;
  }
  .top-content {
    height: 80vh;
    position: relative;
  }
}

@media screen and (max-width: 699px) {
  .top-content {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    position: relative;
  }
  .right-side {
    position: relative;
  }
  .svg1 {
    width: 25%;
    height: auto;
    position: absolute;
    top: 30px;
    left: 150px;
    z-index: -1;
  }
  .svg2 {
    width: 15%;
    height: auto;
    position: absolute;
    top: 70px;
    left: 80px;
    z-index: -2;
  }
  .svg3 {
    width: 20%;
    height: auto;
    position: absolute;
    top: 90px;
    left: 300px;
    z-index: -1;
  }
  .side-svg {
    width: 70%;
    height: auto;
    right: 80px;
    top: 30%;
    text-align: center;
  }
  .top-content {
    height: 80vh;
    position: relative;
  }
  .moviez-title {
    font-size: 60px;
    position: relative;
  }
  /*.moviez-title {
    font-size: 60px;
    position: absolute;
    top: 130px;
    left: 170px;
  }

  .tagline {
    position: absolute;
    top: 230px;
    left: 170px;
  }
  
  */
}
