body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
